*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

h1 {
  @extend %C-IT;
  font-size: 3rem;
  color: white;
}

body {
  background: rgba(27, 55, 116, 0.767);
  transition: 1s;
}
