*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

h1 {
  @extend %C-IT;
  font-size: 3rem;
  color: white;
}

// p{
//   @extend %GO-LT-IT;
// }

body {
  background: teal;
  transition: 1s;
}

// h1 {
//   font-family: $canela;
//   font-weight: 100;
//   font-style: italic;
// }
