@font-face {
  font-family: "Canela";
  src: url("fonts/Canela-Medium.woff2") format("woff2"),
    url("fonts/Canela-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

%C {
  font-family: "Canela", serif;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Canela";
  src: url("fonts/Canela-MediumItalic.woff2") format("woff2"),
    url("fonts/Canela-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

%C-IT {
  font-family: "Canela", serif;
  font-weight: 500;
  font-style: italic;
}

$canela: "Canela", serif;

@font-face {
  font-family: "Gotham";
  src: url("fonts/Gotham-Light.woff2") format("woff2"),
    url("fonts/Gotham-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

%GO-LT {
  font-family: "Gotham", sans-serif;
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("fonts/GothamLight-Italic.woff2") format("woff2"),
    url("fonts/GothamLight-Italic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

%GO-LT-IT {
  font-family: "Gotham", sans-serif;
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Gotham Book";
  src: url("fonts/Gotham-Book.woff2") format("woff2"),
    url("fonts/Gotham-Book.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

%GO-BK {
  font-family: "Gotham Book", sans-serif;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("fonts/Gotham-Medium.woff2") format("woff2"),
    url("fonts/Gotham-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

%GO-MD {
  font-family: "Gotham", sans-serif;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("fonts/GothamMedium-Italic.woff2") format("woff2"),
    url("fonts/GothamMedium-Italic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

%GO-MD-IT {
  font-family: "Gotham", sans-serif;
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Gotham";
  src: url("fonts/GothamThin.woff2") format("woff2"),
    url("fonts/GothamThin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

%GO-TH {
  font-family: "Gotham", sans-serif;
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("fonts/GothamThin-Italic.woff2") format("woff2"),
    url("fonts/GothamThin-Italic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}

%GO-TH-IT {
  font-family: "Gotham", sans-serif;
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Gotham";
  src: url("fonts/Gotham-Bold.woff2") format("woff2"),
    url("fonts/Gotham-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

%GO-BLD {
  font-family: "Gotham", sans-serif;
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Gotham";
  src: url("fonts/Gotham-BoldItalic.woff2") format("woff2"),
    url("fonts/Gotham-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

%GO-BLD-IT {
  font-family: "Gotham", sans-serif;
  font-weight: bold;
  font-style: italic;
}
