.footer-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    a {
        color: #666;
        @extend %TG-Cn;
        display: block;
        width: 100%;

        @include tablet-small {
            width: auto;
        }

        & + a {
            margin-top: 1rem;

            @include tablet-small {
                margin-top: 0;
                margin-left: 2rem;
            }
        }
    }
}